@model IEnumerable<AluguelCarro.Models.Conta>

@{
    ViewData["Title"] = "Saldos de usuários";
}

<div class="border border-light rounded shadow">
    <div class="container">
        <h3 class="titulo">
            <i class="far fa-money-bill-alt fa-lg"></i> &nbsp; Saldos de usuários &nbsp;
            <a asp-action="Create" class="btn btn-outline-secondary btn-lg" data-toggle="tooltip" data-placement="right" title="Novo saldo"><i class="fas fa-plus-circle fa-lg"></i></a>
        </h3>

        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Saldo)
                    </th>

                    <th scope="col">Opçoes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.UserName)
                        </td>

                        <td>
                            R$@Html.DisplayFor(modelItem => item.Saldo),00
                        </td>


                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ContaId" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Atualizar saldo"><i class="far fa-edit"></i></a>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_ModalExclusao" />

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}
